section#auth {
  background-color: #3A3C3D;
  width: 50%;
  height: 84%;
  margin: auto;
  margin-top: 4%;
  box-shadow: 3px 3px 3px 3px black;
}

/* LOGIN */

section#auth > section.login > h2 {
	margin-bottom: -60px;
	padding-top: 30px;
	text-align: center;
	font-family: "PT Sans Caption",sans-serif;
	color: #fff;
	font-size: 25px;
	border-bottom: 2px solid #fff;
}

section#auth > section.login > form {
  text-align: center;
  padding-top: 120px;
}

section#auth > section.login > form > input {
	padding: 1%;
	outline: none;
	border: 2px solid black;
}

section#auth > section.login > form > input[type="submit"] {
	padding:1%;
	outline:none;
	border:2px solid black;
	background-color:#fff;
}

section#auth > section.login > form > input[type="submit"]:hover {
	background-color:#272829;
	border:2px solid green;
}

section#auth > section.login > form > input[type="submit"]:active {
	background-color:#181919;
}

/* REGISTER */

section#auth > section.register > h2 {
	padding-top: 20px;
	margin-bottom: 60px;
	text-align: center;
	font-family: "PT Sans Caption",sans-serif;
	color: #fff;
	font-size: 25px;
	border-bottom: 2px solid #fff;
}

section#auth > section.register > form {
	text-align:center;
}

/* GUEST */

section#auth > section.guest > form {
	margin-left:75%;
	margin-top:14.7%;
}

section#auth > section.guest > form > input[type="submit"] {
	padding:5%;
	margin-top:-60px;
	border:2px solid orange;
	background-color:#fff;
	font-family:"PT Sans Caption",sans-serif;
	outline:none;
}

section#auth > section.guest > form > input[type="submit"]:hover {
	border:2px solid #fff;		
	background-color:orange;
	color:#fff;
}

section#auth > section.guest > form > input[type="submit"]:active {
	background-color:#916E00;
}

/* OTHER */

h2#error{
	text-align:center;
	font-family:"PT Sans Caption",sans-serif;
	color:#fff;
	font-size:25px;
	border-bottom:2px solid #fff;
}

#p_user{
	margin-top:90px;
	margin-left:55%;
	color:#fff;
	font-size:14px;
	font-family:"PT Sans Caption",sans-serif;
}

#copyright{
	position:fixed;
	bottom:20px;
	left:20px;
	font-size:10px;
}

p.errors{
	text-align:center;
	color:white;
}