.notif{
	position:fixed;
	top:0;
	left:0;
	min-height:60px;
	line-height:60px;
	width:100%;
	z-index:1000;
	text-align:center;
	font-size:18px;color:#fff;
	background: rgba(0, 0, 0, 0.8);
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
a{
	color:red;
}
.notif:target{
	opacity:1;
	pointer-events: auto;
}
.notif>.succes{
	background-color:rgba(3, 201, 169, 0.7);
}
div#footer {
	background:#636362;
	position:fixed;
	bottom:0;
	right:0;
	width:78%;
	height:60px;
	margin:auto;
	text-align:center;
	box-shadow:0px 2px 2px black;
}
div#header {
	background:white;
	position:fixed;
	top:0;
	right:0;
	width:78%;
	height:50px;
	margin:auto;
	text-align:center;
	box-shadow:0px 2px 2px black;
}
div#header>h1{
	margin:0px;
}
div#header>h1:before{
	content:"#";
}
a{
	text-decoration:none;
}
div#footer form{
	margin:5px auto;
	margin-top:5px;
}
div#message{
	padding:5px;
	margin:7px 15px;
	border-radius:5px;
	box-shadow:1px 1px 1px 1px black;
}
/* div#message:first-child{
	margin-top:73px;
}*/
div#message:last-child{
	background:#D9D4CF;
}
p.content{
	font-style:italic;
	font-size:17px;
	margin:0 0 0 54px;
}
p.author{
	font-size:20px;
	color:#3D3D3B;
	border-bottom:1px solid black;
	margin:-57px 0 0 54px;
}
p.time{
	font-size:12px;
	text-align:right;
	border-top:1px solid black;
	border-left:1px solid black;
	width:23%;
	margin-left:77%;
}
p{
	margin:0;
	font-family:"PT Sans Caption",sans-serif;
}
form>p{
	color:white;
	font-size:25px;
	margin-top:15px;
}
div#messages{
	margin:-7px -7px -52px 21.7%;
	position:fixed;
	overflow-x:hidden;
	bottom:112px;
	width:78%;
	top:57px;
}
div#sidebar{
	font-weight:bold;
	background:#302D2C;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	padding:1%;
	width:20%;
	color:#fff;
	box-shadow:0px 0px 0px 2px black;
	font-family:"PT Sans Caption",sans-serif;
}
li{
	list-style:none;
}
div#channels li:before{
	content:"# ";
}
div#pm{
	position:fixed;
	top:300px;
	width:20%;
}
div#pm li.logged:before{
	content:"";
	background:green;
	padding:0% 5%;
	border-radius:100%;
    margin:0 5px 0 0;
}
div#pm li.logged-out:before{
	content:"";
	background:grey;
	padding:0% 5%;
	border-radius:100%;
    margin:0 5px 0 0;
}
div#utilisateur{
	margin:0 0 5%;
}
.logged{
	color:#00E866;
}
#bienvenue{
	font-family:"PT Sans Caption",sans-serif;
}
#content{
	padding:1%;
	border:2px solid black;
	outline:none;
	width:63%;
	border-radius:5px;
}
#send{
	margin-left:50px;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:1%;
	border:2px solid green;
	background-color:#fff;
	outline:none;
	font-family:"PT Sans Caption",sans-serif;
}
#send:hover{
	background-color:green;
	color:#fff;
	border:2px solid #fff;
}
#send:active{
	background-color:#034700;
}
#reset{
	margin-left:50px;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:1%;
	border:2px solid orange;
	background-color:#fff;
	outline:none;
	font-family:"PT Sans Caption",sans-serif;             
}
#reset:hover{
	background-color:#ED9C00;
	color:#fff;
	border:2px solid #fff;                 
}
#reset:active{
	background-color:#8C5C00;              
}
#logout{
	margin-left:50px;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:1%;
	border:2px solid red;
	background-color:#fff;
	outline:none;
	font-family:"PT Sans Caption",sans-serif;
}
#logout:hover{
	background-color:red;
	color:#fff;
	border:2px solid #fff;             
}
#logout:active{
	background-color:#7D0500;
}
#copyright{
	position:fixed;
	bottom:20px;
	left:20px;
	font-size:10px;
}